{% extends "layout.html" %}

{% block content %}
  <h2>About</h2>
  <p>A QA system over open linked data. As of now only DBpedia is accessible and work needs to be done to integrate with freebase.</p>
  <p>To simply put it. You ask a question and it answers back. But hey, don't get crazy and ask wierd questions like "What are some wierd questions?". Only simple questions relating to capital cities or info about people like "Who is Frank Sinatra?". You really don't know who he is right ? Ask and find out :D</p> 
{% endblock %}
